In [15]:
df=pd.read_csv("budget_data.csv")

In [11]:
import pandas as pd

In [16]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [17]:
import os

In [18]:
os

In [19]:
# Files to load and output 
file_to_load = os.path.join('budget_data.csv')

In [38]:
# Track various revenue parameters
 = []
count = 0
total = 0
average_change = 0
greatest_incr = ("",0)
greatest_decr = ("",0)
month_year = ""
ini = 0

csvpath = Path('budget_data.csv')

with open(csvpath, 'r') as csvfile:
    
    csvreader = csv.reader(csvfile, delimiter=',')
    
    csv_header = next(csvreader)
    print(csv_header)
    for row in csvreader:
        count = (count + 1)        
        bdf = int(row[1])


        if count < 2:
            ini = bdf
        else:
            next_row = bdf  
        month_year = row[0]
        total = (bdf + total)
        
print(ini)
print(average_change)
print(total)
print(count)

['Date', 'Profit/Losses']
867884
0
38382578
86

In [6]:
# Read the csv and convert it into a list of dictionaries
from pathlib import Path
import csv

In [14]:
# initializing variables to bo used.
df=[]
inc_month=[""]
dec_month =[""]
previous_val = 0
total_months = 1
total = 0
average_change = 0
greatest_increase = 0
greatest_decrease = 0
csvpath = Path("budget_data.csv")

In [15]:
# grabbing csv file and opening it
with open(csvpath, "r") as csvfile:
    csvreader = csv.reader(csvfile)    
    next(csvreader)
    df = next(csvreader)
    previous_val = int(df[1])
    total = previous_val
    for row in csvreader:
              
        total_months = total_months +1
        total = total + int(row[1])
        average_change = average_change + (int(row[1])-previous_val)
    # if statment to get values from for loop       
        if int(row[1]) - previous_val > greatest_increase:
            greatest_increase = int(row[1]) - previous_val
            inc_month = (row[0])
        elif int(row[1]) - previous_val < greatest_decrease:
            greatest_decrease = int(row[1]) - previous_val
            dec_month = (row[0])
        previous_val = int(row[1])   
    average_change = average_change/(total_months-1)

In [12]:
# results 
print("total:", total)
print("total months:", total_months)
print("average  change:", round(average_change,2))
print("greatest increase in profits:", inc_month,":", greatest_increase)
print("greatest decrease in profits:", dec_month,":", greatest_decrease)

total: 38382578
total months: 171
average  change: -2315.12
greatest increase in profits: Feb-2012 : 1926159
greatest decrease in profits: Sep-2013 : -2196167